# Python

In [1]:
def hi(name):
    return "bonjour" + name

In [2]:
hi('Gregory')

'bonjourGregory'

In [3]:
1996/3

665

In [4]:
1996 % 3 == 0

False

In [5]:
year = 1995

In [6]:
if 1996 % 3 == 0:
    print "1996 is divisable by three"
else:
    print "it isnt"

it isnt

In [7]:
def is_leap_year_AY(year):
    if (year % 4) and (year % 100 != 0) and (year % 400):
        print year, " is a leap year"
    else:
        print year, "is not a leap year"

In [8]:
def is_leap_year(year):
    if year % 4 != 0:
        print "False"
        return False
    elif year % 400:
        print "True"
        return True
    elif year % 100:
        print "False"        
        return False
    else:
        print "None of these"

In [9]:
is_leap_year(400)

None of these

# Gigasecond

In [10]:
t = 10 ** 9 #seconds

In [11]:
seconds = t % 60
t = t / 60 # (seconds)
print seconds

40

In [12]:
minutes = t % 60
t = t / 60 # (minutes)
print minutes

46

In [13]:
hours = t % 24

# Trianges

In [14]:
def triangle(a,b,c):
    if(a == b == c):
        return "equilateral"
    if a != b and a != c and b != c:
        return "scalene"
    else:
        return "isosceles"

In [15]:
print triangle(2, 2, 2) == 'equilateral'
print triangle(10, 10, 10) == 'equilateral'
print triangle(3, 4, 4) == 'isosceles'
print triangle(4, 3, 4) == 'isosceles'
print triangle(10, 10, 2) == 'isosceles'
print triangle(3, 4, 5) == 'scalene'
print triangle(10, 11, 12) == 'scalene'
print triangle(5, 4, 2) == 'scalene'
print triangle(.4, .6, .3) == 'scalene'

True
True
True
True
True
True
True
True
True

# Difference of squares

In [16]:
n = 20

In [17]:
l = range(1, n)

In [18]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [19]:
sum(l)

190

In [20]:
sum([i ** 2 for i in l])

2470

# is_palindrome

In [21]:
def is_palindrome(word): 
    return list(word) == list(reversed(list(word)))

In [22]:
is_palindrome("tacocat")

True

In [ ]:
# RNA Transcriptio